In [1]:
import pandas as pd
import igraph as ig

In [2]:
### GLOBAL VARIABLES

ORIGIN_PATH = "/Users/ddiaz/Documents/code/phd-thesis-lab/"
#FILENAME = ORIGIN_PATH+"12-third_year/00-Data/01-AMZ/02-Graphs/PosBinet-AMZ.graphml"
#FILENAME = ORIGIN_PATH+"12-third_year/00-Data/01-AMZ/02-Graphs/binet-AMZ-Rw.gml"
#FILENAME = ORIGIN_PATH+"12-third_year/00-Data/01-AMZ/02-Graphs/amz_test_graph.graphml"
#FILENAME = ORIGIN_PATH+"12-third_year/00-Data/amz2/binet-AMZ-new.gml"

In [36]:
### Graph Analysis
FILENAME = ORIGIN_PATH+"12-third_year/00-Data/02-HC/02-Graphs/binet-HC-Rw.gml"
g = ig.read(FILENAME)
print("Is bipartite? ", g.is_bipartite())

print("|V| =", g.vcount())
print("|E| =", g.ecount())

print()
print("Nodes")
conta = 0
for node in g.vs():
    if conta < 10:
        print(node)  
        conta += 1
    else:
        break

print()
print("EDGES")
conta = 0
for edge in g.es():
    if conta < 10:
        print(edge)  
        conta += 1
    else:
        break

Is bipartite?  True
|V| = 2829
|E| = 4171

Nodes
igraph.Vertex(<igraph.Graph object at 0x1247cf140>, 0, {'id': 0.0, 'name': 30.0, 'type': 0.0, 'ranking': 0.593560024049701})
igraph.Vertex(<igraph.Graph object at 0x1247cf140>, 1, {'id': 1.0, 'name': 2533.0, 'type': 1.0, 'ranking': 0.0526755294274835})
igraph.Vertex(<igraph.Graph object at 0x1247cf140>, 2, {'id': 2.0, 'name': 2532.0, 'type': 1.0, 'ranking': 0.0268220990046095})
igraph.Vertex(<igraph.Graph object at 0x1247cf140>, 3, {'id': 3.0, 'name': 2530.0, 'type': 1.0, 'ranking': 0.0256530162335493})
igraph.Vertex(<igraph.Graph object at 0x1247cf140>, 4, {'id': 4.0, 'name': 2529.0, 'type': 1.0, 'ranking': 0.0200748212973479})
igraph.Vertex(<igraph.Graph object at 0x1247cf140>, 5, {'id': 5.0, 'name': 2531.0, 'type': 1.0, 'ranking': 0.0198410047431358})
igraph.Vertex(<igraph.Graph object at 0x1247cf140>, 6, {'id': 6.0, 'name': 2528.0, 'type': 1.0, 'ranking': 0.0187387267018505})
igraph.Vertex(<igraph.Graph object at 0x1247cf140>, 7, {'id': 7.0, 'name': 2527.0, 'type': 1.0, 'ranking': 0.0163671587948427})
igraph.Vertex(<igraph.Graph object at 0x1247cf140>, 8, {'id': 8.0, 'name': 2526.0, 'type': 1.0, 'ranking': 0.0155655020375443})
igraph.Vertex(<igraph.Graph object at 0x1247cf140>, 9, {'id': 9.0, 'name': 2492.0, 'type': 1.0, 'ranking': 0.0137283719687354})

EDGES
igraph.Edge(<igraph.Graph object at 0x1247cf140>, 0, {'weight': 0.0526755294274835})
igraph.Edge(<igraph.Graph object at 0x1247cf140>, 1, {'weight': 0.0268220990046095})
igraph.Edge(<igraph.Graph object at 0x1247cf140>, 2, {'weight': 0.0256530162335493})
igraph.Edge(<igraph.Graph object at 0x1247cf140>, 3, {'weight': 0.0200748212973479})
igraph.Edge(<igraph.Graph object at 0x1247cf140>, 4, {'weight': 0.0198410047431358})
igraph.Edge(<igraph.Graph object at 0x1247cf140>, 5, {'weight': 0.0187387267018505})
igraph.Edge(<igraph.Graph object at 0x1247cf140>, 6, {'weight': 0.0163671587948427})
igraph.Edge(<igraph.Graph object at 0x1247cf140>, 7, {'weight': 0.0155655020375443})
igraph.Edge(<igraph.Graph object at 0x1247cf140>, 8, {'weight': 0.0137283719687354})
igraph.Edge(<igraph.Graph object at 0x1247cf140>, 9, {'weight': 0.012392277373238})

In [37]:
FILENAME = ORIGIN_PATH+"12-third_year/00-Data/03-PM/02-Graphs/binet-PM-Rw.gml"

### Graph Analysis

g = ig.read(FILENAME)
print("Is bipartite? ", g.is_bipartite())

print("|V| =", g.vcount())
print("|E| =", g.ecount())

print()
print("Nodes")
conta = 0
for node in g.vs():
    if conta < 10:
        print(node)  
        conta += 1
    else:
        break

print()
print("EDGES")
conta = 0
for edge in g.es():
    if conta < 10:
        print(edge)  
        conta += 1
    else:
        break

Is bipartite?  True
|V| = 144
|E| = 156

Nodes
igraph.Vertex(<igraph.Graph object at 0x1247cfc40>, 0, {'id': 0.0, 'name': '437', 'type': 0.0, 'ranking': 0.028436018957346})
igraph.Vertex(<igraph.Graph object at 0x1247cfc40>, 1, {'id': 1.0, 'name': 'proj22task1prop', 'type': 1.0, 'ranking': 0.0853080568720379})
igraph.Vertex(<igraph.Graph object at 0x1247cfc40>, 2, {'id': 2.0, 'name': '509', 'type': 0.0, 'ranking': 0.028436018957346})
igraph.Vertex(<igraph.Graph object at 0x1247cfc40>, 3, {'id': 3.0, 'name': 'proj22task2prop', 'type': 1.0, 'ranking': 0.165876777251185})
igraph.Vertex(<igraph.Graph object at 0x1247cfc40>, 4, {'id': 4.0, 'name': '500', 'type': 0.0, 'ranking': 0.023696682464455})
igraph.Vertex(<igraph.Graph object at 0x1247cfc40>, 5, {'id': 5.0, 'name': '507', 'type': 0.0, 'ranking': 0.023696682464455})
igraph.Vertex(<igraph.Graph object at 0x1247cfc40>, 6, {'id': 6.0, 'name': 'proj22task2', 'type': 1.0, 'ranking': 0.184834123222749})
igraph.Vertex(<igraph.Graph object at 0x1247cfc40>, 7, {'id': 7.0, 'name': '511', 'type': 0.0, 'ranking': 0.028436018957346})
igraph.Vertex(<igraph.Graph object at 0x1247cfc40>, 8, {'id': 8.0, 'name': '457', 'type': 0.0, 'ranking': 0.014218009478673})
igraph.Vertex(<igraph.Graph object at 0x1247cfc40>, 9, {'id': 9.0, 'name': '493', 'type': 0.0, 'ranking': 0.014218009478673})

EDGES
igraph.Edge(<igraph.Graph object at 0x1247cfc40>, 0, {'weight': 0.018957345971564})
igraph.Edge(<igraph.Graph object at 0x1247cfc40>, 1, {'weight': 0.018957345971564})
igraph.Edge(<igraph.Graph object at 0x1247cfc40>, 2, {'weight': 0.018957345971564})
igraph.Edge(<igraph.Graph object at 0x1247cfc40>, 3, {'weight': 0.018957345971564})
igraph.Edge(<igraph.Graph object at 0x1247cfc40>, 4, {'weight': 0.014218009478673})
igraph.Edge(<igraph.Graph object at 0x1247cfc40>, 5, {'weight': 0.014218009478673})
igraph.Edge(<igraph.Graph object at 0x1247cfc40>, 6, {'weight': 0.014218009478673})
igraph.Edge(<igraph.Graph object at 0x1247cfc40>, 7, {'weight': 0.014218009478673})
igraph.Edge(<igraph.Graph object at 0x1247cfc40>, 8, {'weight': 0.014218009478673})
igraph.Edge(<igraph.Graph object at 0x1247cfc40>, 9, {'weight': 0.014218009478673})

In [73]:
FILENAME = "/Users/ddiaz/Documents/code/phd-thesis-lab/12-third_year/00-Data/04-UN/01-DistributionsCSV/UN-Rw.csv"

df = pd.read_csv(FILENAME)

df

,Unnamed: 0,uname,position,departmentu,crsTaken,crsTaught,isChair,rname,type,student,departmentr,csr,ACTION
0,24592,87,faculty,cs,none,cs602,0,application1,application,0,none,none,0
1,937,100,staff,admissions,none,none,0,application1,application,0,none,none,1
2,6476,20,student,cs,cs601,cs601,0,application1,application,0,none,none,0
3,26230,93,faculty,ee,none,cs602,0,application1,application,0,none,none,0
4,24592,87,faculty,cs,none,cs602,0,application1,application,0,none,none,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27923,4311,12,student,ee,cs602,none,0,ee602roster,roster,none,ee,ee602,0
27924,27518,98,none,ee,none,none,1,ee602roster,roster,none,ee,ee602,0
27925,19179,67,student,ee,ee101,cs101,0,ee602roster,roster,none,ee,ee602,0
27926,27802,100,staff,admissions,none,none,0,ee602roster,roster,none,cs,ee602,0
27927,25678,91,faculty,ee,none,cs101,0,ee602roster,roster,none,cs,ee602,0

In [74]:
df2 = df[df["ACTION"]==1]

In [75]:
len(df2["uname"].unique())

40

In [76]:
max(df2["uname"])

100

In [77]:
df2["rname"] = pd.factorize(df2['rname'])[0]

/var/folders/g4/vgr09c9n7pd31lk61zpr3_440000gn/T/ipykernel_1732/3837373616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["rname"] = pd.factorize(df2['rname'])[0]

In [78]:
df2["uname"] = pd.factorize(df2['uname'])[0]

/var/folders/g4/vgr09c9n7pd31lk61zpr3_440000gn/T/ipykernel_1732/3269171489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["uname"] = pd.factorize(df2['uname'])[0]

In [79]:
df2["rname"] = df2["rname"] + len(df2["uname"].unique())
df2

/var/folders/g4/vgr09c9n7pd31lk61zpr3_440000gn/T/ipykernel_1732/1883511495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["rname"] = df2["rname"] + len(df2["uname"].unique())

,Unnamed: 0,uname,position,departmentu,crsTaken,crsTaught,isChair,rname,type,student,departmentr,csr,ACTION
1,937,0,staff,admissions,none,none,0,40,application,0,none,none,1
13,937,0,staff,admissions,none,none,0,40,application,0,none,none,1
19,937,0,staff,admissions,none,none,0,40,application,0,none,none,1
29,937,0,staff,admissions,none,none,0,40,application,0,none,none,1
31,542,1,faculty,cs,none,cs101,0,41,gradebook,none,ee,cs101,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27867,588,30,faculty,ee,none,ee602,0,61,roster,none,ee,ee602,1
27868,588,30,faculty,ee,none,ee602,0,61,roster,none,ee,ee602,1
27879,762,34,staff,registrar,none,none,0,61,roster,none,cs,ee602,1
27897,563,24,faculty,cs,none,ee602,0,61,roster,none,cs,ee602,1
27919,762,34,staff,registrar,none,none,0,61,roster,none,cs,ee602,1

In [81]:
df2.to_csv("NEW-DF-UN-RW.csv")

In [80]:
df2

,Unnamed: 0,uname,position,departmentu,crsTaken,crsTaught,isChair,rname,type,student,departmentr,csr,ACTION
1,937,0,staff,admissions,none,none,0,40,application,0,none,none,1
13,937,0,staff,admissions,none,none,0,40,application,0,none,none,1
19,937,0,staff,admissions,none,none,0,40,application,0,none,none,1
29,937,0,staff,admissions,none,none,0,40,application,0,none,none,1
31,542,1,faculty,cs,none,cs101,0,41,gradebook,none,ee,cs101,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27867,588,30,faculty,ee,none,ee602,0,61,roster,none,ee,ee602,1
27868,588,30,faculty,ee,none,ee602,0,61,roster,none,ee,ee602,1
27879,762,34,staff,registrar,none,none,0,61,roster,none,cs,ee602,1
27897,563,24,faculty,cs,none,ee602,0,61,roster,none,cs,ee602,1
27919,762,34,staff,registrar,none,none,0,61,roster,none,cs,ee602,1

In [72]:
FILENAME = ORIGIN_PATH+"12-third_year/00-Data/03-PM/02-Graphs/binet-PM-Rw.graphml"
g = ig.read(FILENAME)
print(g.summary())

IGRAPH U--T 144 211 --
+ attr: id (v), type (v), frequency (e)